DATABASE_URL="mongodb+srv://ct:ErXowsc@cluster0.uuiewgq.mongodb.net/meck?retryWrites=true&w=majority"

GOOGLE_CLIENT_ID=527ppbmo5r2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCIytL

NEXTAUTH_SECRET=Dq4D2S4V+k=
NEXTAUTH_URL=http://localhost:3000
